@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="rows row-one">
        <img src="http://placekitten.com/1300/600" alt="">
        <h1>H1 Hero Image, Centered X &amp; Y!</h1>
    </section> <!-- /section.row-one -->


    <section class="rows row-two default-text">
        <div class="container">

            <h1 class="center">Parasites Lost</h1>

            <div class="two-column-layout">
                <p>Ah, <q>Futurama</q> computer dating. It's like pimping, but you rarely have to use the phrase "upside your head." There's one way and only one way to determine if an animal is intelligent. Dissect its brain! Hey, tell me something. You've got all this money. How come you always dress like you're doing your laundry? Yes, I saw. You were doing well, until everyone died. Why, those are the Grunka-Lunkas! They work here in the Slurm factory. I guess because my parents keep telling me to be more ladylike. As though!</p>
                <h2>Lrrreconcilable Ndndifferences</h2>
                <p>This is the worst kind of discrimination: the kind against me! Wow! A superpowers drug you can just rub onto your skin? You'd think it would be something you'd have to freebase. Too much work. Let's burn it and say we dumped it in the sewer. I wish! It's a nickel. THE BIG BRAIN AM WINNING AGAIN! I AM THE GREETEST! NOW I AM LEAVING EARTH, FOR NO RAISEN! Eeeee!  Now say "nuclear wessels"!</p>
                <ul>
                    <li>We're also Santa Claus!</li>
                    <li>Perhaps, but perhaps your civilization is merely the sewer of an even greater society above you!</li>
                    <li>There's one way and only one way to determine if an animal is intelligent. Dissect its brain!</li>
                </ul>
                <h3>Where No Fan Has Gone Before</h3>
                <p>No, she'll probably make me do it. Oh, but you can. But you may have to metaphorically make a deal with the devil.  And by "devil", I mean Robot Devil.  And by "metaphorically", I mean get your coat. It's toe-tappingly tragic!</p>
                <h4>Lrrreconcilable Ndndifferences</h4>
                <p>I'm Santa Claus! Stop it, stop it. It's fine. I will 'destroy' you! That's right, baby. I ain't your loverboy Flexo, the guy you love so much. You even love anyone pretending to be him! The alien mothership is in orbit here. If we can hit that bullseye, the rest of the dominoes will fall like a house of cards. Checkmate. Please, Don-Bot&hellip; look into your hard drive, and open your mercy file! And when we woke up, we had these bodies.</p>
                <ol>
                    <li>That's right, baby. I ain't your loverboy Flexo, the guy you love so much. You even love anyone pretending to be him!</li>
                    <li>Kids have names?</li>
                    <li>Man, I'm sore all over. I feel like I just went ten rounds with mighty Thor.</li>
                    <li>It's okay, Bender. I like cooking too.</li>
                </ol>
                <h5>War Is the H-Word</h5>
                <p>That could be 'my' beautiful soul sitting naked on a couch. If I could just learn to play this stupid thing. Kids don't turn rotten just from watching TV. Guards! Bring me the forms I need to fill out to have her taken away! Daylight and everything. I videotape every customer that comes in here, so that I may blackmail them later.</p>
            </div> <!-- /.two-column-layout -->
        </div> <!-- /.content -->
    </section> <!-- /section.row-two -->


    <section class="rows row-three default-text">
        <div class="container">

            <h1 class="center">Bender Should Not Be Allowed on TV</h1>

            <div class="three-column-layout">
                <p>Are you crazy? I can't swallow that. Come, Comrade Bender! We must take to the streets! Oh, all right, I am. But if anything happens to me, tell them I died robbing some old man. Hey, what kinda party is this? There's no booze and only one hooker. Yes, if you make it look like an electrical fire. When you do things right, people won't be sure you've done anything at all.</p>
                <h2>The Sting</h2>
                <p>But existing is basically all I do! Is the Space Pope reptilian!? Really?! Switzerland is small and neutral! We are more like Germany, ambitious and misunderstood!</p>
                <ul>
                    <li>Ugh, it's filthy! Why not create a National Endowment for Strip Clubs while we're at it?</li>
                    <li>No argument here.</li>
                </ul>
                <h3>Put Your Head on my Shoulder</h3>
                <p>Bender, I didn't know you liked cooking. That's so cute. No argument here. Is that a cooking show? I guess if you want children beaten, you have to do it yourself. We need rest.  The spirit is willing, but the flesh is spongy and bruised.</p>
                <h4>That's Lobstertainment</h4>
                <p>Why am I sticky and naked? Did I miss something fun? You can crush me but you can't crush my spirit! Ask her how her day was. Now what?</p>
                <ol>
                    <li>Negative, bossy meat creature!</li>
                    <li>I'm just glad my fat, ugly mama isn't alive to see this day.</li>
                    <li>Look, everyone wants to be like Germany, but do we really have the pure strength of 'will'?</li>
                    <li>Humans dating robots is sick. You people wonder why I'm still single? It's 'cause all the fine robot sisters are dating humans!</li>
                </ol>
                <h5>Bender Gets Made</h5>
                <p>We'll go deliver this crate like professionals, and then we'll go home. Bender, we're trying our best. Wow, you got that off the Internet? In my day, the Internet was only used to download pornography. Of all the friends I've had&hellip; you're the first. Say what? But, like most politicians, he promised more than he could deliver.</p>
                <h6>The Prisoner of Benda</h6>
                <p>I didn't ask for a completely reasonable excuse! I asked you to get busy! Michelle, I don't regret this, but I both rue and lament it. Oh yeah, good luck with that. But existing is basically all I do! I never loved you.</p>
                <p>Morbo can't understand his teleprompter because he forgot how you say that letter that's shaped like a man wearing a hat. I wish! It's a nickel. Can we have Bender Burgers again? This is the worst part. The calm before the battle.</p>
                <p>Ummm&hellip;to eBay? No! Don't jump! In our darkest hour, we can stand erect, with proud upthrust bosoms.</p>
                <p>No argument here. Oh sure! Blame the wizards! You seem malnourished. Are you suffering from intestinal parasites?</p>
                <p>Oh sure! Blame the wizards! Now Fry, it's been a few years since medical school, so remind me. Disemboweling in your species: fatal or non-fatal? Daylight and everything.</p>
            </div> <!-- /.two-column-layout -->
        </div> <!-- /.content -->
    </section> <!-- /section.row-two -->
}
